<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Possible values: chrome, firefox -->
    <add key="Browser" value="chrome" />
    <add key="BaseUrl" value="http://google.com" />
    <add key="Timeout" value="20000" />
    <add key="TestDataSet" value="GoogleSearchTestData.xml" />
  </appSettings>
</configuration>